.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

.checkbox label, .radio label {
    padding-left: 0;
}

.checkbox .icons, .radio .icons {
    top: 6px;
}

/*.bb-line {
    fill: none;
    stroke-width: 4px;
    stroke-dasharray: 5px;
    -webkit-animation: dashoffset 3s linear infinite;
    -moz-animation: dashoffset 3s linear infinite;
    -o-animation: dashoffset 3s linear infinite;
    animation: dashoffset 3s linear infinite
}

.bb-circle {
    -webkit-animation: exploding-stroke 2s linear infinite;
    -moz-animation: exploding-stroke 2s linear infinite;
    -o-animation: exploding-stroke 2s linear infinite;
    animation: exploding-stroke 2s linear infinite
}
*/
.bb-legend-item {
    font-size: 14px;
    color: #252422;
}

/*.bb path, .bb line { fill: none; stroke: #fff !important; }
.bb-axis { color: #fff !important; }
.bb-axis-x { color: #fff !important; }
.bb-axis-x-label { color:#fff; }*/


@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-ms-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -20px
    }
}

@-webkit-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-moz-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-ms-keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@keyframes bouncing-stroke {
    0%,100% {
        stroke-width: 5px
    }

    50% {
        stroke-width: 10px
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@-ms-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1
    }

    100% {
        stroke-width: 20px;
        opacity: 0
    }
}